In [32]:
import torch
import torchvision
from PIL import Image, ImageFilter, ImageOps
from torch.utils.data import DataLoader
from torch.utils.data.dataset import Dataset
from torchvision import transforms
from torchvision.datasets import STL10, ImageFolder
import pandas as pd
from pathlib import Path
import numpy as np

In [33]:
def encoding(data_frame):
    encoding = list()
    for index, row in data_frame.iterrows():
            if row[1] == '074':
                z = 0
            elif row[1] == '104':
                z =  1
            elif row[1] == '267':
                z = 2
            elif row[1]== '269':
                z = 3
            elif row[1]== '271':
                z = 4
            elif row[1]== '274':
                z = 5
            elif row[1]== '276':
                z = 6
            elif row[1]== '280':
                z = 7
            elif row[1]== '282':
                z = 8
            elif row[1]== '284':
                z = 9
            else:
                print(n)
                print(type(n))
                print(n, file_name)
            encoding.append(z)
    return encoding

In [34]:
data = pd.read_csv('D:\TUD\TU_Dresden\WiSe_2021\Thesis_FZJ/all_images.txt')
data['sample_name']         = data['Image_Name'].str.split('_').str[2]
data['loaction_in_img']     = data['Image_Name'].str.split('_').str[1]
data['original_img_name']   = data['Image_Name'].str.split('_').str[0]
data['resolution_v_of_orignal_image']        = data['Image_Name'].str.split('_').str[3]
data['resolution_h_of_orignal_image'] = data['Image_Name'].str.split('_').str[3]
data['magnification']= data['Image_Name'].str.split('_').str[4]
data['encoding'] = encoding(data_frame = data)

In [35]:
data.head()

,Image_Name,sample_name,loaction_in_img,original_img_name,resolution_v_of_orignal_image,resolution_h_of_orignal_image,magnification,encoding
0,JSC100_00_271_2048_500_.tif,271,00,JSC100,2048,2048,500,4
1,JSC100_01_271_2048_500_.tif,271,01,JSC100,2048,2048,500,4
2,JSC100_02_271_2048_500_.tif,271,02,JSC100,2048,2048,500,4
3,JSC100_03_271_2048_500_.tif,271,03,JSC100,2048,2048,500,4
4,JSC100_04_271_2048_500_.tif,271,04,JSC100,2048,2048,500,4

In [36]:
data.to_csv('D:/TUD/TU_Dresden/WiSe_2021/Thesis_FZJ/meta_data.csv', index=False)